body { margin: 0; }

.block {
    height: 100%;
    outline: 1px solid black;
}

.block-title {
    position: fixed;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 50px;
}
